body *{
    margin: 0px;
    padding: 0px;
    outline: 0px;
    border: 0px;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 1.9rem;
}

body {
    margin: 5vw;
    background: #3f3a3a;
    color: #000;
    counter-reset: element;
}

.periodic-table {
    display: grid;
    column-gap: .5vw;
    row-gap: .5vw;
    padding-left: 0;
}

.periodic-table > li {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 4.5vw;
    border-radius: 3px;
    background: cyan;

}

.periodic-table > li::before{
    counter-increment: element;
    content: counter(element);
    position: absolute;
    bottom: 3px;
    left: 6px;
    font-size: .9vw;
    font-weight: bold;
}

.hydrogen {
    grid-column-start: 1;
}

#helium {
    grid-column-start: 18;
}

#boron, #aluminum {
    grid-column-start: 13;
}

#lanthanum, #actinium {
    grid-column-start: 3;
}

.periodic-table:before {
    display: block;
    content: '';
}

.periodic-table > li:nth-child(n+57):nth-last-child(n+49){
    grid-row-start: 8;
}

.periodic-table > li:nth-child(n+89):nth-last-child(n+17) {
    grid-row-start: 9;
}

.periodic-table:before {
    display: block;
    content: '';
    grid-row: 8 / 10;
    grid-column: 1 / 4;
}

.periodic-table .hydrogen {
    background: tomato;
}

.periodic-table .alkali {
    background: khaki;
}

.periodic-table .noble-gas {
    background: gold;
}

.periodic-table .alkaline {
    background: darkorange;
}

.periodic-table .lanthanide {
    background: greenyellow;
}

.periodic-table .actinide {
    background: aquamarine;
}

.periodic-table .metalloid {
    background: lightgreen;
}

.periodic-table .polyatomic-nonmetal {
    background: indianred;
}

.periodic-table .diatomic-nonmetal {
    background: lightsalmon;
}

.periodic-table .unknown {
    background: lightgray;
}

@media only screen and (max-width: 1500px) and (min-width: 1101px) {
    body *{
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 1100px) {
    #helium, #boron, #aluminum, #lanthanum, #actinium {
        grid-column-start: auto;
    }
    #lanthanum, #actinium {
        grid-row-start: auto;
    }
    .periodic-table > li:nth-child(n+57):nth-last-child(n+49){
        grid-row-start: auto;
    }
    .periodic-table > li:nth-child(n+89):nth-last-child(n+17) {
        grid-row-start: auto;
    }
    body * {
        font-size: 1.5rem;
    }
    .periodic-table > li::before{
        font-size: 1.5vw;
    }
    .periodic-table > li abbr{
        font-size: 0;
    }
    .periodic-table > li abbr:after {
        content: attr(title);
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 720px) {
    .periodic-table {
        grid-template-columns: 1fr;
    }
    .periodic-table {
    display: block;
    }
    .periodic-table li {
        margin: 1vw;
        padding: 1.5rem;
    }
    .periodic-table > li::before{
        font-size: 2vw;
    }
    .periodic-table > li abbr:after {
        content: attr(title);
        font-size: 2.2rem;
    }
}